@import "./assets/styles/mat_theme";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import './assets/styles/font';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-icon {
  &.large-icon {
    width: 600px;
    height: 500px;
    @media (max-width: 599px){
        width: 300px;
        height: 300px;
    }
  }
}
